<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LR17.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LR17.Properties.Settings>
            <setting name="OmmitIntermediateDots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>Standalone</value>
            </setting>
            <setting name="ServerAdress" serializeAs="String">
                <value>ab12</value>
            </setting>
            <setting name="ClientAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </LR17.Properties.Settings>
    </userSettings>
</configuration>